html {
    line-height: 1.5;
    tab-size: 4;
}

body {
    font-family:  Neue, Arial, sans-serif;
    font-family:  Atkinson, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 25px;
    margin: 0;
    display: inline;
}

.heading-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.heading-1 span {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.heading-1 span li, .heading-1 span li a {
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 5px;
}

.heading-1 span li a:hover,
h1:hover {
    list-style: none;
    text-decoration: none;
    color: rgb(116, 17, 238);
}

.main-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    padding-top: 0;
}

h2 {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-container .intro {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-bottom: 40px;
    margin-top: 60px;
    
}

.main-container .intro .write-up {
    text-align: justify;
}

.main-container .profile-image img {
    height: 270px;
    width: 250px;
    object-fit: cover;
    margin-right: 20px;
}

#profile-image-warning {
    font-style: italic;
    font-size: 16px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

blockquote i {
    font-size: larger;
    font-style: italic;
    font-weight: lighter;
}

figcaption {
    margin-left: auto;
}

.silly-projects h3,
.other-links h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
    text-decoration: none;
    cursor: progress;
    display: inline;
}

.silly-projects li,
.other-links li {
    list-style: none;
    padding-left: .75rem;
    text-decoration: none;
}

.silly-projects li a,
.other-links li a {
    text-decoration: none;
}


@media screen and (max-width: 1060px){
    .main-container {
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1000px){
    .main-container {
        width: 80%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 960px) {
    .main-container {
        width: 100%;
        margin: 0;
    }
}


@media  screen and (max-width: 750px) {
    .main-container .intro {
        display: block;
        padding: 0;
        max-width: 90%;
        justify-content: center;
    }

    .main-container .intro .write-up {
        width: 90%;
        word-wrap: break-word;
        /* padding-left: 10px; */
    }
    
    .main-container .intro .profile-image {
        margin-top: 20px;
        word-wrap: break-word;
    }
}